# Compiled class file
*.class

# Log file
*.log

#

StarBoat/core/build
StarBoat/desktop/build

spring-boot-shopassistant/build
spring-boot-shopassistant/target
spring-boot-shopassistant/bin


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
